[
  {erldoc, [
    {port, 8080}, 
    {ip, "0.0.0.0"},
    {max_conn, 100},
    {routes, [
    ]}
  ]},
  {docsrv, [
    {db_host, "localhost"},
    {db_port, 5432},
    {db_database, "erldoc"},
    {db_username, "erldoc"},
    {db_password, "erldoc"}  %%% !!! please change this !!!
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/sample_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/sample_console.log"}, {level, info}]}
    ]}
  ]}
].

